* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}  

.header {
    background-color: #3b5998;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    font-size: 16px;
    line-height: 1.34;
}

.right-header {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-top: 10px;
    height: 100%;
    width: 500px;
    
    
}

.form-1
.form-2 {
    
    color: #fff;
    margin-right: 10px;
    margin-top: 5px;
    
    
}


.label {
    color: white;
    padding-bottom: 4px;
    text-align: left;
}

.input {
    height: 25px;
}

.input-text {
    color: #fff;
    opacity: 70%;
    margin-top: 5px;
  
}
.btn {
    height: 25px;
    width: 70px;
    background-color: #3b5998;
    border-style: none;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 20px;
    
}

.btn a {
    color: #fff;
}